body {
  background: #eee;
  font-family: sans-serif;
  font-size: 15px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 10px 2px 2px 2px;
}

.title {
  background: #e3f4ff;
  margin: 6px;
  padding: 6px;
  font-weight: bold;
}

.content {
  background: #e3f4ff;
  margin: 6px;
  padding: 6px;
}

.button-container {
  background: #e3f4ff;
  margin: 6px;
  padding: 6px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 125px;
  padding: 6px 20px;
}